@media (min-width: 700px), handheld and (orientation: landscape) {
  /* rules for devices with either 700px and higher resolution,
     OR handheld and in landscape orientation */

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }

  .indent{
    padding-left: 5em;
  }

  .main_text{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
  }

  .main_text h1{
    margin-top: 0.7em;
  }

  .contact {
    padding-top: 10%;
  }

  .pricing{
    margin-top: 4em;
  }

  .background{
    background: url("images/Gymnos background.jpg") no-repeat;
    background-size: cover;
    display: block;
    overflow: auto;
    height: 100vh;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img {
    width: 10em;
    height: 0%;
  }

  .col{
    display: flex;
    flex-direction: row;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;
    margin-bottom: 0;
  }

  .footer {
    position: fixed;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  ol.number-bulet {
    margin-left: 4em;
    padding: 0;
    counter-reset: li-counter;
    position: relative;
  }

  ol.number-bulet > li{
    position: relative;
    margin-bottom: 1.250em;
    padding-left: 0.5em;
    min-height: 3em;
  }
  ol.number-bulet > li:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -1.33em;
    width: 1.3em;
    height: 1.3em;
    font-size: 2.5em;
    line-height: 0.85;
    text-align: center;
    color: #f5f5f5;
    border: 0.2em solid #000;
    border-radius: 50%;
    background-color: #000;
    content: counter(li-counter);
    counter-increment: li-counter;
  }

  .words {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
  }

}

@media only screen and (max-device-width: 480px) {
  /* list rules for devices with horizontal resolution up to 480px */

  html, 
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow: auto;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .background{
    background: url("images/Gymnos background.jpg") no-repeat;
    background-size: cover;
    display: block;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }

  
  .content {
    flex: 1 0 auto;
  }

  .footer {
    flex-shrink: 0;
  }


  .main_text{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .main_text h1{
    font-size: 1.8em;
  }

  .contact {
    padding-top: 1%;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img {
    width: 8em;
    height: 0%;
    margin: auto;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 0.0625em;
    margin-bottom: 0;
  }

  .footer {
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center; 
  }

  ol.number-bulet h3 {
    font-size:1.25em;
  }


  ol.number-bulet {
    margin-left: 1em;
    counter-reset: li-counter;
    position: relative;
  }

  ol.number-bulet > li{
    position: relative;
    margin-bottom: 1.250em;
    padding-left: 0.5em;
    min-height: 3em;
  }
  ol.number-bulet > li:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -1.33em;
    width: 1.3em;
    height: 1.3em;
    font-size: 2em;
    line-height: 0.85;
    text-align: center;
    color: #f5f5f5;
    border: 0.2em solid #000;
    border-radius: 50%;
    background-color: #000;
    content: counter(li-counter);
    counter-increment: li-counter;
  }



  .words {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 18.75em;
    padding-bottom: 1.875em;
    padding-top: 1.875em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1em;
  }

  .pricing {
    text-align: center;
  }

  .btn btn-success btn-lg {
    position: relative;
  }

}
